// //Less-定义颜色数组
// @colorArr: #36f44f,#2196F3,#e8f803,#3F51B5,#E91E63,#9C27B0,#37a2da, #32c5e9, #67e0e3, #9fe6b8;

// // 定义循环最大值，此处使用颜色数组的长度
// @len: length(@colorArr);
// /**
//  * 定义循环方法
//  * @index--传入的循环起始值
//  * @len--循环的最大值  也可使用常量  eg:(@index<10)
//  */ 
// .Loop(@index) when(@index<@len){
//     // 执行内容 
//     // 类名参数要加大括号@{index}   
//     // 根据index获取对应的某个值 extract(数组名, 对应的序号)
//     li:nth-child(@{index}){
//         color:extract(@colorArr,@index);
//     }

//     //递归调用 达到循环目的
//     .Loop(@index+1);
// }
// // 调用循环
// .Loop(0);

@random255:`Math.ceil(Math.random()*255)`;
@random16:`Math.ceil(Math.random() * 255).toString(16)`;
@randomRgb:rgb(@random255,@random255,@random255);

.login {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    // background-image: linear-gradient(125deg,#36f44f,#2196F3,#e8f803,#3F51B5,#E91E63,#9C27B0);
    background-image: linear-gradient(125deg,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb,@randomRgb);
    background-size: 400%;
    font-family: "montserrat";
    animation: bganimation 5s infinite;
    @keyframes bganimation{
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
    .login-logo{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        background-image: url(../../assets/images/logo.png);
        background-size: cover;

    }
    .login-content{
        width: 400px;
        height: 320px;
        border: 1px solid @randomRgb;
        box-shadow:2px 4px 6px @randomRgb;
        margin-top: 40vh;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        background-color: @randomRgb;
        // align-items: center;
    }
    .login-form{
        width:100%;
        &-title{
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 12px;
        }
    }

}